
@{
    ViewBag.Title = "Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Item</h2>

<table id="items" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Item</th>
            <th>Price</th>
            <th>PriceEur</th>

        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var url = window.location.href;
            var pattern = /([^\/]+)\/?$/g;
            var moniker = url.match(pattern).toString();

            var euro = 0;
            $.getJSON("https://api.exchangeratesapi.io/latest?base=RON&symbols=EUR",
                function (json) {
                    euro = json.rates.EUR;
                },
            );

            var table = $('#items').DataTable({
                ajax: {
                    cache: true,
                    url: 'https://localhost:44369/api/Menus/' + moniker + '?includeItems=true',
                    dataSrc: "items"
                },
                columns: [
                    {
                        data: "menuName"
                    },
                    {
                        data: "name"
                    },
                    {
                        data: "price"
                     
                    },
                    {
                        data: "price",
                        render: function (data) {
                            return data * euro;
                        }
                    }
                ]
            });

        });

    </script>

}