@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table id="menu" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>bka</td>
            <td>bsxsska</td>
        </tr>
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
         $("#menu").DataTable();

        });
    </script>
}